.mainpage {
    position: relative;
    z-index: 999;
    height: 100vh;
    width: 100vw;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainpage__title {
    user-select: none;
    font-weight: 600;
    font-size: 5rem;
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

.mainpage__description {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.mainpage__button-posts:hover i {
    display: inline-block;
    animation: tiltShaking 0.25s infinite;
}

@keyframes textShine {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

@keyframes tiltShaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
