@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype"),
    url("/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}